#content
{
    float: left;
    display: block;
    position: relative;
    top: -162px;
    min-width: 964px;
}

#content section
{
    margin-bottom: 50px;
}

.card_container
{
    width: auto;
    float: left;
    margin-left: 248px;
    position: relative;
    overflow: hidden;
}

#content header
{
    width: auto;
    height: 65px;
    padding: 5px;
    background-color: transparent;
    color: rgb(51, 51, 51);
}

.container_title
{
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    letter-spacing: -0.2px;
    position: relative;
    top: 1px;
}

.container_subtitle
{
    color: rgb(85, 85, 85);
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

.see_more
{
    position: absolute;
    background-color: rgb(26, 161, 225);
    top: 30px;
    right: 170px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 68px;
    line-height: 30px;
    text-align: center;
}

.card_list
{
    width: auto;
    height: 340px;
}

#content ul
{
    overflow: hidden;
}

#content li
{
    float: left;
    width: 160px;
    height: 330px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card_list #book_image
{
    width: 160px;
    height: 245px;
    background-image: url(images/book.jpg);
    background-size: 162px 219px;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
    display: inline-block;
}

.card_details
{
    padding: 4px 10px 0px 10px;
}

.card_name
{
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

.card_author
{
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 300;
}

.card_price
{
    color: rgb(26, 161, 225);
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: right;
    padding-top: 10px;
}