#header_for_mobile
{
    display: initial;
}

#mobile_header
{
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

#body_head, nav, aside
{
    display: none;
}

#wrapper
{
    top: initial;
}

#content
{
    min-width: 0px;
}

.card_container
{
    margin-left: 1%;
    margin-right: 1%;
    /*중앙정렬되게 고칠 것*/
    overflow: hidden;
    min-width: 375px;
}

.see_more
{
    right: 40px;
    top: 20px;
}

#content header
{
    position: relative;
    top: 20px;
}
.container_title
{
    font-size: 20px;
}

.container_subtitle
{
    font-size: 13px;
}

footer
{
    margin-left: 1px;
}

#footer_link_container
{
    margin-left: 10px;
}

#hamburgericon
{
    background-image: url(images/hamburger.png);
    float: left;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin: 14px;
}

#signicon
{
    background-image: url(http://www.gstatic.com/android/market_images/web/play_logo_x2.png);
    background-size: 140px 30px;
    width: 140px;
    height: 30px;
    margin: 10px;
    display: inline-block;
}

#searchicon
{
    background-image: url(images/search.png);
    float: right;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin: 14px;
}

#mobile_nav
{
    width: 330px;
    height: 90px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

#mobile_nav button
{
    float: left;
    width: 150px;
    height: 35px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 0px 0px;
    color: rgb(115, 115, 115);
}

#mobile_nav button:nth-child(1)
{
    margin-right: 5%;
}

#mobile_nav button:nth-child(3)
{
    position: relative;
    top: 10px;
}