header
{
    background-color: #F1F1F1;
    height: 60px;
    overflow: hidden;
}



#logo_wrapper
{
    float: left;
    width: 244px;
    height: 60px;
}

#logo
{
    width: 183px;
    height: 58px;
    padding: 0px 30px;
}

#sign
{
    width: 183px;
    height: 39px;
    margin:  11px 0px;
}



#search
{ 
    float: left;
    width: 650px;
    height: 60px;
}

#s_wrapper
{
    float: left;
    width: 650px;
    min-width: 333px;
    height: 30px;
    padding: 15px 0px;
}

#s_input
{
    float: left;
    width: 572px;
    height: 20px;
    padding: 4px 8px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
}

#s_button
{
    float: left;
    background-color: #4285F4;
    width: 60px;
    height: 30px;
    padding: 0px 15px;
}

#s_button_icon
{
    -webkit-background-size: 112px 1828px;
    -webkit-font-smoothing: auto;
    background-image: url(https://ssl.gstatic.com/gb/images/v1_2e543709.png);
    background-position: -69px -349px;
    background-size: 112px 1828px;
    display: inline-block;
    
    width: 30px;
    height: 30px;
}



#user_container
{
    float: right;
    width: auto;
    height: 60px;
    padding: 0px 30px;
}

#user_button
{
    text-align: right;
    line-height: 60px;
}

#user_menu
{
    -webkit-background-size: 112px 1828px;
    background-image: url(https://ssl.gstatic.com/gb/images/v1_2e543709.png);
    background-position: -51px -452px;
    background-size: 112px 1828px;
    opacity: 0.55;
    display: inline-block;
    vertical-align: middle;

    position: relative;
    bottom: 2px;
    left: 4px;

    width: 30px;
    height: 30px;
}

#user_login
{
    width: 68px;
    height: 30px;
    padding: 0px 12px;
    margin-left: 15px;
    background-color: #4285F4;
    color: white;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}